* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(255, 255, 255)
}

h1 {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

.book {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.case {
    display: flex;
    border-style: double;
    justify-content: space-around;
    gap: 10px;
    background: antiquewhite;


}

.case p {
    font-size: 17px;
    background: antiquewhite;
    

}

.case h3 {
    font-size: 24px;
    text-decoration: underline;
    background: antiquewhite;
} 

.flavor {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: antiquewhite;
}
.button {
    align-self: flex-start;
}

.button button {
    background-color: black;
    color: antiquewhite;
    font-size: large;
}

.liste {
    font-size: large;
    font-style: oblique;
        width: 300px;
        border: 5px solid rgb(0, 0, 0);
        padding: 50px;
        margin: 20px;
}

.ingredients {
    color: rgb(0, 0, 0)
}

.preparations {
    color: rgb(0, 0, 0);
}