* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(255, 255, 255)
}

h1 {
    margin-left: 100px;
    font-weight: bold;
    text-decoration: underline;
}

button {
    background-color: black;
    color: rgb(255, 255, 255);
    height: auto;
    width: 100px;
    text-decoration: underline;
    translate: 100px;
    

}

.liste {
    font-size: large;
    font-style: oblique;
}

.ingredients {
    color: rgb(0, 0, 0)
}

.preparations {
    color: rgb(0, 0, 0);
}